Mentorproject/IdentityServer/bin/
Mentorproject/IdentityServer/obj/
Mentorproject/.vs/
Mentorproject/Mentorproject.DAL/obj/
Mentorproject/Mentorproject/bin/
Mentorproject/Mentorproject/obj/Mentorproject.csproj.nuget.cache
Mentorproject/Mentorproject/obj/
